<section>
    <article>
        <figure>
            <h2>Asset Tracking</h2>
            <p>Under Maintenance</p>
        </figure>
         </article>
    <article>
        <figure>
            <h6>Remote Asset Condition Monitoring</h6>
            <p>Remote Asset Condition Monitoring is understanding the current status of piece of equipment located at a customer or difficult to access location and being able to communicate bi-directional with the piece of equipment. IoT sensors provide the needed data to support this initiative. Companies seek  a cost-effective way to capture operational information and provide it to the organization best placed to support the end customer and protect their equipment from failure.</p>
        </figure>
        <img alt
            src='https://labcase.softwareag.com/storage/d/6b30cbb26c3883f0f6fee0d1b88d20cf' />
    </article>
    <article>
        <figure>
            <h2>3</h2>
            <p>Hola, vengo a flotar. Front~end</p>
        </figure>
    </article>
    <article>
        <figure>
            <h2>4</h2>
            <p>Hola, vengo a flotar. Front~end</p>
        </figure>
        <img alt
            src='https://kaleidos.net/media/filer_public_thumbnails/filer_public/91/7c/917ca0ca-f069-455e-b25f-154db357d09a/xaviju2.jpg__300x300_q85_crop_subject_location-3257%2C1894_subsampling-2_upscale.jpg' />
    </article>
    <article>
        <figure>
            <h2>5</h2>
            <p>Hola, vengo a flotar. Front~end</p>
        </figure>
        <img alt
            src='https://kaleidos.net/media/filer_public_thumbnails/filer_public/91/7c/917ca0ca-f069-455e-b25f-154db357d09a/xaviju2.jpg__300x300_q85_crop_subject_location-3257%2C1894_subsampling-2_upscale.jpg' />
    </article>
    <article>
        <figure>
            <h2>6</h2>
            <p>Hola, vengo a flotar. Front~end</p>
        </figure>
        <img alt
            src='https://kaleidos.net/media/filer_public_thumbnails/filer_public/91/7c/917ca0ca-f069-455e-b25f-154db357d09a/xaviju2.jpg__300x300_q85_crop_subject_location-3257%2C1894_subsampling-2_upscale.jpg' />
    </article>
    <article>
        <figure>
            <h2>7</h2>
            <p>Hola, vengo a flotar. Front~end</p>
        </figure>
        <img alt
            src='https://kaleidos.net/media/filer_public_thumbnails/filer_public/91/7c/917ca0ca-f069-455e-b25f-154db357d09a/xaviju2.jpg__300x300_q85_crop_subject_location-3257%2C1894_subsampling-2_upscale.jpg' />
    </article>
    <article>
        <figure>
            <h2>8</h2>
            <p>Hola, vengo a flotar. Front~end</p>
        </figure>
        <img alt
            src='https://kaleidos.net/media/filer_public_thumbnails/filer_public/91/7c/917ca0ca-f069-455e-b25f-154db357d09a/xaviju2.jpg__300x300_q85_crop_subject_location-3257%2C1894_subsampling-2_upscale.jpg' />
    </article>


</section>

<svg width="0" height="0">
    <defs>
        <clipPath id="hexagono" clipPathUnits="objectBoundingBox">
            <polygon points=".25 0, .75 0, 1 .5, .75 1, .25 1, 0 .5" />
        </clipPath>
    </defs>
</svg>